@use "./base/reset" as r;
@use "./components/buttons";
@use "./components/alerts";

@use "./partials/variables" as v;

body {
    margin: 10px;
    
}
h1 {
    color: v.$primary-color;
}

.item-list {
    display: flex;
    // border: 1px solid $primary-color;
    border-radius: 8px;
    padding: 0 10px;

    h1 {
        color: v.$primary-color;
    }

    p {
        background-color: beige;
    }

    article {
        flex-grow: 50%;
    }
}


  nav ul {
    @include r.horizontal-list;
    color: #fff;
  }
  nav ul li {
      background-color: v.$primary-color;
      padding: 0 10px;
  }