@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #023e8a;
    --secondary-color: #a8dadc;
}
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header, footer{
flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
main {
    max-width: 920px;
    margin: 0 auto;
    flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  padding-bottom: 140px;
}
a:link, a:visited {
    text-decoration: none;
    color: var(--primary-color);
}
nav {
    display: block;
    background-color: #ececec;
    line-height: 2rem;
    font-size: 1.2rem;
}
nav a {
    padding: 0 10px;
    height: 40px;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    background-color: #ddd;
    margin: 0 10px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.project-item {
    border: 1px solid #444;
    padding: 0 10px;
    border-radius: 8px;
    background-color: lightblue;
}

.project-item p {
    height: 60px;
}
.project-item a {
    border: 1px solid #444;
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: block;
    background-color: #eee;
    margin: 4px;
    text-align: center;
    border-radius: 4px;
}

footer {
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    height: 50px;
}