@use "../partials/variables" as v;

.btn {
    border: 1px solid v.$primary-color;
    height: 30px;
    border-radius: 4px;
    padding: 0 10px;

    
}

.btn-primary {
    background-color: v.$primary-color;
    color: #fff;
}
.btn-seconday {
    background-color: v.$secondary-color;
    color: #fff;
}

.btn-success {
    background-color: v.$success-color;
}

.btn-danger {
    background-color: v.$danger-color;
    color: #fff;
}
.btn-warning {
    background-color: v.$warning-color;
}
.btn-info {
    background-color: v.$info-color;
}
