* {
  box-sizing: border-box;
}

.user-line {
  display: block;
  border: 1px solid #444;
  background-color: #8ecae6;
  color: #003049;
  font-size: 1.4rem;
  font-weight: 800;
}

.post {
  padding-left: 20px;
}

pre {
  background-color: #f5ebe0;
  padding: 10px;
  border-radius: 8px;
}

.post-title {
  color: maroon;
  font-size: 1.4rem;
  border-bottom: 1px dashed #6a040f;
}