* {
  box-sizing: border-box;
}

.user-line {
  display: block;
  border: 1px solid #444;
  background-color: #8ecae6;
  color: #003049;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 10px 20px;
  
}

.post {
  padding-left: 20px;
  background-color: #f5ebe0;
  margin: 10px;
  box-shadow: 0px 5px 10px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

pre {
  padding: 10px;
  border-radius: 8px;
  color: #3d405b;
  font-size: 1rem;
}

.post-title {
  color: #14213d;
  font-size: 1.4rem;
}